/* Stop active link in the local navigation appearing black */
.campl-page-header a.active {
    color: #fff;
}

/* Correct footer header colour as the header might not be a link */
.campl-local-footer h3 {
    color: #91b9a4;
}

/* Prevent conflict with unstyled lists and Drupal lists */
.campl-unstyled-list .leaf, .campl-unstyled-list .expanded, .campl-unstyled-list .collapsed {
    list-style: none;
    padding: 0;
}

/* Prevent conflict with vertical breadcrumb navigation lists and Drupal lists */
.campl-vertical-breadcrumb-navigation li.leaf, .campl-vertical-breadcrumb-navigation li.expanded, .campl-vertical-breadcrumb-navigation li.collapsed {
    padding: 10px 0;
}

/* Prevent conflict with vertical breadcrumb children lists and Drupal lists */
.campl-vertical-breadcrumb-children li.leaf {
    padding: 5px 5px 5px 0;
}
