/* Stop active link in the local navigation appearing black */
.campl-page-header a.active {
    color: #fff;
}

/* Correct footer header colour as the header might not be a link */
.campl-local-footer h3 {
    color: #91b9a4;
}

/* Prevent conflict with unstyled lists and Drupal lists */
.campl-unstyled-list .leaf, .campl-unstyled-list .expanded, .campl-unstyled-list .collapsed {
    list-style: none;
    padding: 0;
}

/* Prevent conflict with vertical breadcrumb active items */
.campl-vertical-breadcrumb a.active {
    color: #999999;
}

/* Prevent conflict with vertical breadcrumb navigation lists and Drupal lists */
.campl-vertical-breadcrumb-navigation li.leaf, .campl-vertical-breadcrumb-navigation li.expanded, .campl-vertical-breadcrumb-navigation li.collapsed {
    padding: 10px 0;
}

/* Prevent conflict with vertical breadcrumb children lists and Drupal lists */
.campl-vertical-breadcrumb-children li.leaf, .campl-vertical-breadcrumb-children li.expanded, .campl-vertical-breadcrumb-children li.collapsed {
    padding: 5px 5px 5px 0;
}

/* Correct padding on footer lists */
.campl-navigation-list li.leaf {
    padding-bottom: 5px;
}

/* Stop contextual links in a carousel from being floated. */
.campl-carousel .contextual-links li {
    float: none;
}

/* Make sure news listing items end with a border */
.campl-news-listing:last-child {
    border-bottom: 1px dashed #b5b5b5;
}

/* Stop active local footer links from changing colour */
.campl-local-footer li a.active {
    color: #fff;
}

/* Prevent padding on small table rows */
.campl-table tr.even, .campl-table tr.odd {
    padding: 0;
}

/* Remove field collection styles */
.field-collection-view {
    border-bottom: 0;
    margin: 0;
    padding: 0;
}

.field-collection-container {
    border-bottom: 0;
    margin-bottom: 0;
}

/* Prevent conflict with pagination and Drupal lists */
.campl-pagination ul li {
    margin: 0;
}
